h1 {
    color: #ae0000; 
    font-family: Arial, sans-serif; 
    font-size: 30px;
    text-align: center; 
    margin-bottom: 20px; 
  }
p {
    color: #680202; 
    font-family: Arial, sans-serif; 
    font-size: 24px;
    text-align: center; 
    margin-bottom: 20px; 
  }